* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    background: rgb(32, 31, 42);
    display: flex;
    justify-content: center;

    h1 {
        font-size: 100px;
    }
}