section.repository-list {
    margin: 25%;
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 16px;
        text-shadow: #6b27cb 2px 2px;
    }

    h2 {
        color: #6b27cb;
        margin-bottom: 16px;
    }

    img {
        width: 20%;
        height: auto;
        border-radius: 50%;
    }

    ul {
        list-style: none;

        li {
            & + li {
                margin-top: 20px;
            }

            p {
                font-size: 14px;
                color: #8B949E;
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #6b27cb
            }
        }
    }
}